<!DOCTYPE html>
<html ng-app="">
<head>
<title>Angular Js</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
</head>
<body>
 <!-- ng-app, ng-model, ng-init, ng-bind, {{}}-->
 <div ng-init="EmployeeInfo=[
 {name:'ToiobHossain',ID:'TVL093',Country:'Bangladesh',Age:'25',Gender:'Male',Designation:'SoftwareEngineer'},
 {name:'ToiobHossain',ID:'TVL093',Country:'Bangladesh',Age:'25',Gender:'Male',Designation:'SoftwareEngineer'},
 {name:'ToiobHossain',ID:'TVL093',Country:'Bangladesh',Age:'25',Gender:'Male',Designation:'SoftwareEngineer'},
 {name:'ToiobHossain',ID:'TVL093',Country:'Bangladesh',Age:'25',Gender:'Male',Designation:'SoftwareEngineer'}]">
 <ul>
    <li ng-repeat="item in EmployeeInfo">
        {{item.name+','+item.ID+','+item.Country+','+item.Age+','+item.Gender+','+item.Designation}}
    </li>
 </ul>
 <form name="myForm">
Email:<input type="email" name="MyEmail" ng-model="text">
<span ng-show="myForm.MyEmail.$error.email">Invalid Email Address</span>
 </form>
 </div>
</body>
</html>